<div>
    <div class="input-group mb-3">
        <label for="post" class="visually-hidden"> Post </label>
        <input
            class="form-control"
            type="text"
            name="post"
            id="post"
            placeholder="Write a Task"
            required
        />
        <button
            class="btn btn-primary input-btn"
            id="input-btn"
            type="button"
        >
            Post
        </button>
    </div>
</div>