{% extends layout %} {% block content %}

<main class="container mt-3">
    {% include 'components/postform.njk' %}

    <div>
        <ul class="list-group">
            {% for body in tasks %}
            <li class="list-group-item d-flex justify-content-between">
                {{ task.task }}
                <div class="d-flex">
                    <div class="form-check me-3"></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
<script src="/js/test.js"></script>
{% endblock %}
