{% extends "layout.njk" %} 
{% block content %}

<main class="container mt-3">
    {% include 'components/postform.njk' %}

    <div>
        <ul class="list-group">
            {% for meep in meeps %}
            <li class="list-group-item d-flex justify-content-between">
                {{ meep.body }}
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
<script src="/js/test.js"></script>
{% endblock %}
